@charset "utf-8";
/* CSS Document */

@media (max-width:992px) {
	.banner-caption .blub-img{
		max-width: 80px;
	}
	.logo {
		max-width: 300px;
	}
	.banner-caption p{
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 35px;
	}
	.btn{
		padding: 4px 40px;
		font-size: 17px;
		line-height: 30px;
	}
	.footer{
		padding: 25px 15px 10px;
	}
	.brands{
		margin-bottom: 20px;
	}
	.brands .brands-single{
		margin: 0 20px;
	}
	.copyright .copyright-txt, .copyright .copyright-txt:after, .copyright .email-link{
		line-height: 35px;
		font-size: 14px;
	}
}

@media (max-width:767px) {
	.banner-caption .blub-img {
		max-width: 70px;
	}
	.logo{
		max-width: 290px;
	}
	.banner-caption p{
		font-size: 17px;
		line-height: 25px;
		margin-bottom: 48px;
	}
	.btn{
		padding: 3px 34px;
    font-size: 16px;
    line-height: 28px;
		text-transform: uppercase;
	}
	.footer{
		padding: 31px 15px 15px;
	}
	.brands{
		margin-bottom: 50px;
		flex-wrap: wrap;
	}
	.brands .brands-single{
		margin: 0;
		padding: 0 14px;
		flex: 33.33%;
		margin-bottom: 24px;
	}
	.copyright .small-logo{
		max-width: 20px;
	}
	.copyright .copyright-txt, .copyright .copyright-txt:after, .copyright .email-link{
		line-height: 30px;
		font-size: 12px;
	}
}

@media (max-width:640px) {
	.banner-caption .blub-img {
		max-width: 63px;
		margin-bottom: 12px;
	}
	.logo{
		max-width: 280px;
		margin-bottom: 0;
	}
	.banner-caption{
		padding: 20px 15px;
	}
	.banner-caption p{
		font-size: 16px;
		line-height: 27px;
		margin-bottom: 48px;
	}
	.brands{
		margin-bottom: 30px;
	}
	.btn{
		padding: 3px 35px;
    font-size: 14px;
    line-height: 27px;
	}
	.copyright .small-logo{
		max-width: 18px;
		margin-right: 5px;
	}
	.copyright .copyright-txt, .copyright .copyright-txt:after, .copyright .email-link{
		line-height: 15px;
		font-size: 10px;
	}
}

@media (min-width:992px) and (max-width:1199px) {	
	.banner-caption .blub-img{
		max-width: 130px;
	}
	.logo {
		max-width: 400px;
	}
	.banner-caption p{
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 40px;
	}
	.btn{
		padding: 6px 40px;
		font-size: 18px;
	}
	.footer{
		padding: 30px 15px 15px;
	}
	.brands{
		margin-bottom: 20px;
	}
	.brands .brands-single{
		margin: 0 25px;
	}
	.copyright .copyright-txt{
		line-height: 35px;
	}
	.copyright .copyright-txt:after{
		line-height: 35px;
	}
	.copyright .email-link{
		line-height: 35px;
	}
}

/* 5. Other media-query
------------------------------------------------------------------------------*/
@media (min-width: 1200px) and (max-width: 1441px) and (max-height: 850px) {
	.banner-caption .blub-img{
		max-width: 100px;
	}
	.logo {
		max-width: 360px;
	}
	.banner-caption p{
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 40px;
	}
	.btn{
		padding: 6px 40px;
		font-size: 18px;
	}
	.footer{
		padding: 30px 15px 15px;
	}
	.brands{
		margin-bottom: 20px;
	}
	.brands .brands-single{
		margin: 0 25px;
		transform: scale(0.9);
	}
	.copyright .copyright-txt{
		line-height: 35px;
	}
	.copyright .copyright-txt:after{
		line-height: 35px;
	}
	.copyright .email-link{
		line-height: 35px;
	}
}
