@charset "utf-8";

*, *:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, 
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, a, nav, section, summary, time, mark, audio, video 
{margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration:none; list-style:none; outline:none; -webkit-font-smoothing: subpixel-antialiased; -webkit-tap-highlight-color:rgba(0,0,0,0);}
	
html,body { -webkit-text-size-adjust:none; height: 100%; }
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {display: block;}
iframe {vertical-align: top;}
input[type="text"], input[type="submit"], input[type="button"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], textarea {-webkit-appearance: none; outline: none;}
textarea:focus, input:focus, a, div, img { outline: none; }
 
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }
.clear { clear: both; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block;}

body{ color:#373d48; font-size:14px; font-family: 'Gothic A1'; font-weight:400; line-height:1.6;}

h1, h2, h3, h4, h5, h6{ margin-bottom:10px; font-weight:600; line-height: 1.6;}
h1{ font-size:36px;}
h2{ font-size:32px;}
h3{ font-size:28px;}
h4{ font-size:24px;}
h5{ font-size:20px;}
h6{ font-size:16px;}

p{ color:#373d48; font-size:14px; font-weight:400; line-height:1.6; margin-bottom:20px;}

ul{ margin:20px 20px; padding:0; }
ul li{ font-size:14px;  color:#373d48; font-weight:400; line-height:1.2; padding:0 0 5px 0; }
ul > li { list-style:outside disc; }

ol{ margin:20px 20px; padding:0; list-style: none; }
ol li{ font-size:14px;  color:#373d48; font-weight:400; line-height:1.2; padding:0 0 5px 0; }
ol > li { list-style: outside decimal; }

blockquote{ display:block; text-align:left; margin-bottom:20px; position:relative; background:#f3f3f3; padding:20px 20px 5px 20px; border-left:4px solid #be152d; border-radius: 5px;}
blockquote p{ font-size:14px; font-weight:400; line-height:1.6; margin:0 0 15px 0; position:relative; }

hr {border:0 #000 solid; border-top-width:1px; clear:both; height:0;}

.alignnone{float: none; margin: 15px 0;}
.aligncenter {display: block; clear:both; margin:15px auto;}
.alignleft {float: left; margin: 0 20px 15px 0; }
.alignright {float: right; margin: 0 0 15px 20px;}

/* 3. Images
------------------------------------------------------------------------------*/
img{border:none; max-width: 100%; vertical-align: top;}

/* 4. Link
------------------------------------------------------------------------------*/
a{color:#be152d;}
a:hover{color:#be152d; text-decoration: underline;}
a:focus {outline: none;}

/* 5. Forms
------------------------------------------------------------------------------*/
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"]{ border:1px solid #dedede; padding:0 15px; color:#000; font-size:12px; height:36px; font-weight: 400; font-family: 'Lato', sans-serif; }
textarea{ border:1px solid #dedede; padding:5px 15px; color:#666666; font-size:12px; height:60px; resize:none;  font-family: 'Lato', sans-serif;}

input[type="submit"], input[type="button"], input[type="reset"]{ background:#666; cursor:pointer; color:#fff; border:none; height:30px;  display:block; font-size:15px; cursor: pointer; font-family: 'Lato', sans-serif; }
input[type="submit"]:hover, input[type="button"]:hover{ background:#666; color:#fff;}

::-webkit-input-placeholder { opacity: 0.5 !important; color: #000; }
:-moz-placeholder { opacity: 0.5 !important; color: #000; }
::-moz-placeholder { opacity: 0.5 !important; color: #000; }
:-ms-input-placeholder { opacity: 0.5 !important; color: #000; }

select, select:-moz-focusring, select::-moz-focus-inner {
   color: transparent !important;
   text-shadow: 0 0 0 #1a1a1a !important;
   background-image: none !important;
   border:0;
   border-color: inherit;
  -webkit-box-shadow: none;
}
select:focus {
    outline: none;
}	

/* 6. Tables
------------------------------------------------------------------------------*/
table {border-spacing: 0; border-collapse: collapse;}
td {text-align: left; font-weight: normal;}

/* 7. Layout Framework
------------------------------------------------------------------------------*/
/* main container */
#wrapper{ 
  width:100%; 
  min-height:100%; 
  display: flex; 
  flex-direction: column; 
  background: url(../images/main-bg.png) no-repeat center center; 
  background-size: cover;
}

.banner{
  width: 100%; 
  display: flex; 
  flex: 1; 
  justify-content: center; 
  align-items: center;
}

.banner-caption{
  max-width: 800px;
  width: 100%;
  text-align: center;
  padding: 50px 20px;
}

.banner-caption .blub-img{
  max-width: 145px;
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 17px;
}

.banner-caption .blub-img img{
  display: block;
}

.logo{
  max-width: 556px;
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
}

.logo img{
  display: block;
}

.banner-caption p{
  font-size: 24px;
  line-height: 41px;
  font-family: 'Noto Serif';
  color: #F0F0F2;
  margin-bottom: 56px;
}

.btn{
  padding: 8px 48px;
  font-size: 20px;
  line-height: 34px;
  color: #F0F0F2;
  border: 2px solid #FBFBFB;
  border-radius: 50px;
  background: rgba(23, 23, 23, 0.4);
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease;
}
.btn:hover{
  text-decoration: none;
  color: #fff;
  background: #8089A5;
}


.footer{
  width: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  background: rgba(11, 17, 32, 0.3);
  padding: 40px 15px 22px;
}

.brands{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 47px;
}

.brands .brands-single{
  list-style: none;
  margin: 0 40px;
  padding: 0;
}

.brands .brands-single a{
  display: block;
  transition: all 0.3s ease;
}

.brands .brands-single a:hover{
  opacity: 0.9;
}

.brands .brands-single a img{
  display: block;
}

.copyright{
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright .small-logo{
  max-width: 27px;
  width: 100%;
  margin-right: 12px;
}

.copyright .copyright-txt{
  font-size: 16px;
  line-height: 40px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.copyright .copyright-txt:after{
  content: "l";
  font-size: 16px;
  line-height: 40px;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 10px;
}

.copyright .email-link{
  font-size: 16px;
  line-height: 40px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: all 0.3s ease;
}

.copyright .email-link:hover{
  color: #fff;
}